.detail-button{

    .detail-btn{
        border: none;
        font-size: 18px;
        background: transparent;
        transition: all 0.3s ease-in-out;
        margin-left: 10px;

        &:hover{
            transform: scale(1.2);
        }
    }
}

.modal-header{
    padding-bottom: 0;
    border: none;

    .btn-close{

        &:focus{
            box-shadow: none;
        }
    }
}

.modal-body{
    padding-bottom: 0 !important;

    .customer-info{
        padding-bottom: 10px;
        border-bottom: 1px solid #dee2e6;
    
        .customer-adres{
            margin-bottom: 5px;
            font-weight: 600;
        }
    
        .customer-contact{
            display: flex;
            justify-content: space-between;
            font-weight: 600;
        }
    }

    #category-modal-btn{
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #fff;
        background: #030f3d;
        color: #fff;
        font-weight: 400;
        transition: all 0.3s ease-in-out;

        &:hover{
            background: transparent;
            color: #030f3d;
            border: 2px solid #030f3d;
        }
    }
    
    .customer-products{
        thead{
    
            .customer-product-price{
                white-space: nowrap;
            }   
        }
    
        tbody{
            align-items: center;
    
            .customer-product-price{
                white-space: nowrap;
            }
        }
    
        .customer-total{
            font-weight: bold;
    
            .customer-product-price{
                white-space: nowrap;
            }
    
            tr{
                td{
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }

    #update-form{
        .label-update-box{
            display: flex;
            justify-content: center;

            .image-update-label-empty{
                display: flex;
                justify-content: center;
                font-size: 20px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                padding: 10px;
                width: 50px;

                &:hover{
                    transform: scale(1.2);
                }
            }

            .close-update-btn{
                display: flex;
                border: none;
                background: transparent;
                font-size: 20px;
                margin-left: 10px;

                i {
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.modal-footer{

    button{
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #fff;
        background: #030f3d;
        color: #fff;
        font-weight: 400;
        transition: all 0.3s ease-in-out;

        &:hover{
            background: transparent;
            color: #030f3d;
            border: 2px solid #030f3d;
        }
    }
}

