.panel {

    .panel-navbar{
        padding: 0;

        .panel-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0.5rem 1rem;
            background-color: #030f3d;

            .panel-header-title{
                font-size: 1.2rem;
                font-weight: bold;
                color: #fff !important;
            }

            .panel-header-dropdown{
                background: fixed;
                border: none;

                &:focus{
                    background: fixed;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    .panel-content{
        display: flex;
        justify-content: space-between;

        .panel-sidebar{
            width: 20%;
            background-color: #030f3dc2;
            border-right: 2px solid #030f3d;
            padding: 1rem;
            min-height: 91vh;

            .panel-sidebar-title{
                font-size: 1.2rem;
                font-weight: bold;
                color: #fff !important;
            }

            .panel-sidebar-item{
                font-size: 1rem;
                font-weight: bold;
                color: #fff !important;
                padding: 0.5rem 2rem;
                border-bottom: 2px solid #030f3d;
                cursor: pointer;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                transition: all 0.3s ease-in-out;   

                &:focus{
                    background: fixed;
                    border: none;
                    box-shadow: none;
                    border-bottom: 2px solid #030f3d;
                    color: #030f3d !important;
                }

            }

            .panel-sidebar-accordion{
                padding: 0;
                margin: 0;
                border: none;
                background: none;


            }

        }

        .panel-content-box{
            width: 80%;
            background-color: #fff;
            padding: 1rem;
        }
    }


    .panel-order-btn{
        text-align: start;
        width: 100%;
        background: #fff;
        color: #0d6efd;
        font-weight: 600;
        padding: 0.5rem 1.25rem;
        margin: 5px 0;
        border: 1px solid #0d6efd;
        border-radius: 5px;
        
        &:focus{
            color: #fff !important;
            background: #0d6efd;
            box-shadow: none !important;
        }
    }

    .update-product-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

@import "../../components/Dashboard/index.scss",
"../../components/DetailButton/index.scss",
"../../components/Orders/index.scss",
"../../components/PanelCategories/index.scss",
"../../components/PanelProducts/index.scss",
"../../components/PanelHomeContent/index.scss"