.home-cards-1{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 20px 0;

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s;
        width: max-content;
        height: fit-content !important;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 0px 12px 0px rgba(122, 122, 122, 0.75);
        }

        .card-image{
            width: auto;
            height: 200px;
            border-radius: 5px;
        }

        .card-title{
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        
        .card-author{
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }

        .card-publisher{
            font-size: 0.8rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }

        .card-price{
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
        }


        .card-button{
            display: block;
            margin: 10px auto;
            padding: 5px;
            border: 1px solid #f27a1a;
            border-radius: 10px;
            background: #fff;
            color: #f27a1a;
            transition: all 0.3s ease-in-out;
    
            &:hover{
                background: #f27a1a;
                color: #fff;
            }

        }
    }
}
.home-cards-2{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin: 20px 0;

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s;
        width: max-content;
        height: fit-content !important;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 0px 12px 0px rgba(122, 122, 122, 0.75);
        }

        .card-image{
            width: auto;
            height: 200px;
            border-radius: 5px;
        }

        .card-title{
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        
        .card-author{
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }

        .card-publisher{
            font-size: 0.8rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }

        .card-price{
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
        }


        .card-button{
            display: block;
            margin: 10px auto;
            padding: 5px;
            border: 1px solid #f27a1a;
            border-radius: 10px;
            background: #fff;
            color: #f27a1a;
            transition: all 0.3s ease-in-out;
    
            &:hover{
                background: #f27a1a;
                color: #fff;
            }

        }
    }
}